*{
    margin: 0;
    padding: 0;
}

.items{
    background-color: blue;
    margin-top: 40px;
    width: 25%;
    height: 99.99%;
}
.items > img{
    width: 100%;
    height: 70%;
   
}
.itemsContainer{
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
